

.container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    border: solid black 2px;
}


.buttons {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

button {
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
}
.every {
    height: 100%;
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#colorPicker {
    border: 1px;
    width: 30px;
    height: 30px;
}

#color {
    display: flex;
    align-items: center;
    gap: 5px
}

.slider {
width: 400px; /* Full-width */
height: 25px; /* Specified height */
}
.slidecontainer {
    margin: -10px;
}

p {
    margin-top: 10px;
    margin-bottom: 0;
}

