

body, button {
    font-family: 'Balsamiq Sans', sans-serif;
    font-weight: normal;
    background-color: blueviolet;

}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;;
    border: solid pink 10px;
    background-color: white;
}

h1 {
    font-size: 50px;
    margin-bottom: 5px;
    color: white;
}


.buttons {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

button {
    width: 95px;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    background-color: white;
}
.clicked {
    box-shadow: 0 0 5px 3px white;
}

.every {
    
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#colorPicker {
    border: 1px;
    width: 30px;
    height: 30px;
    padding: 0px;
    background-color: transparent;
}

#color {
    display: flex;
    align-items: center;
    gap: 5px
}

.slider {
    -webkit-appearance: none;
    width: 400px;
    height: 15px;
    background: black;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    cursor: pointer;
  }

.slidecontainer {
    margin: -10px;
}

p, #demo {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: white;
}

@media (max-width: 768px) {
    .container {
      max-width: 90%;
    }
  
    button {
      width: 30%;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      max-width: 90%;
    }
  
    button {
      width: 90%;
    }
  }